@use 'sass:math';

@mixin flex(){
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

$cardFrame: solid 1px #777;

$cardWidth: 80px;
$cardHeight: 125px;

$cardExteriorMargin: $cardHeight/20;
$cardExteriorRadius: $cardWidth/10;

$cardInteriorPadding: $cardHeight/30;
$cardInteriorRadius: $cardHeight/25;

$signatureWidth: $cardHeight/10;

.playZone__card {
    width: $cardWidth;
    height: $cardHeight;
    border: $cardFrame;
    border-radius: $cardExteriorRadius;
    background-color: white;
    transform: rotate(random() * 360deg); // nombre aléatoire de 0 à 360.

    .card__frame { // nesting.
        @include flex();
        min-height: $cardHeight - 3.5 * $cardExteriorMargin;
        margin: $cardExteriorMargin;
        padding: $cardInteriorPadding;
        border: $cardFrame;
        border-radius: $cardInteriorRadius;

        .frame__signature {
            @include flex();
            width: $signatureWidth;

            .signature__number {
                font-size: $signatureWidth;
                font-weight: bold;
                text-align: center;
                margin: 0px;
            }

            .signature__icon {
                font-size: $signatureWidth;
            }
        }

        .frame__icon{
            width: $signatureWidth * 2;
            align-self: center;
        }

        .frame__rotate {
            transform: rotate(180deg);
            align-self: flex-end;
        }
    }
}


